<?xml version="1.0"?>

<model>
  <name>Institute for Robotics and Intelligent Machines</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Ruffin White</name>
    <email>roxfoxpox@gmail.com</email>
  </author>

  <description>
    The 2nd floor offices of the Institute for Robotics and Intelligent Machines at Georgia Tech
  </description>
</model>
