<launch>
  <arg name="world_file"  default="$(find jarves_gazebo)/worlds/people.world"/>

  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="gui" default="true"/>
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR asus_xtion_pro)"/>  <!-- kinect, asus_xtion_pro -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <group ns="robot_0">
    <include file="$(find jarves_gazebo)/launch/includes/$(arg base).launch.xml">
      <arg name="base" value="$(arg base)" />
      <arg name="stacks" value="$(arg stacks)" />
      <arg name="3d_sensor" value="$(arg 3d_sensor)" />
      <arg name="model" value="robot_0"/>
      <arg name="y" default="-0.5"/>
    </include>

    <!-- Teleoperation of the kobuki robot using a joystick     -->
    <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
      <param name="axis_deadman" value="4"/>
      <param name="axis_linear" value="1"/>
      <param name="axis_angular" value="0"/>
      <remap from="turtlebot_teleop_joystick/cmd_vel" to="mobile_base/commands/velocity"/>
    </node>
    <node pkg="joy" type="joy_node" name="joystick"/>

    <include file="$(find jarves)/launch/face_detector.rgbd.launch">
      <arg name="fixed_frame" value="robot_0/odom" />
    </include>

    <include file="$(find jarves)/launch/leg_detector.launch">
      <arg name="fixed_frame" value="robot_0/odom" />
    </include>
  </group>

  <group ns="robot_1">
    <include file="$(find jarves_gazebo)/launch/includes/$(arg base).launch.xml">
      <arg name="base" value="$(arg base)" />
      <arg name="stacks" value="$(arg stacks)" />
      <arg name="3d_sensor" value="$(arg 3d_sensor)" />
      <arg name="model" value="robot_1"/>
      <arg name="y" default="0.5"/>
    </include>

    <!-- Teleoperation of the kobuki robot using a joystick     -->
    <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
      <param name="axis_deadman" value="5"/>
      <param name="axis_linear" value="3"/>
      <param name="axis_angular" value="2"/>
      <remap from="turtlebot_teleop_joystick/cmd_vel" to="mobile_base/commands/velocity"/>
    </node>
    <node pkg="joy" type="joy_node" name="joystick"/>
  </group>

</launch>
