<launch>
  <arg name="world_file"  default="$(find turtlebot_gazebo)/worlds/playground.world"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="map_file" default="$(find turtlebot_gazebo)/maps/playground.yaml"/> <!-- create, roomba -->

  <arg name="base"      value="$(optenv JARVES_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv JARVES_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="stacks"    value="$(optenv JARVES_STACKS human)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor" value="$(optenv JARVES_3D_SENSOR asus_xtion_pro)"/>  <!-- kinect, asus_xtion_pro -->

  <!-- start world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
  </node>

  <!-- include robots -->
  <group ns="robot_0">
    <arg name="robot" default="robot_0" />

    <include file="$(find jarves_gazebo)/launch/includes/$(arg base).launch.xml">
      <arg name="base" value="$(arg base)" />
      <arg name="stacks" value="$(arg stacks)" />
      <arg name="3d_sensor" value="$(arg 3d_sensor)" />
      <arg name="robot" value="$(arg robot)"/>
      <arg name="y" default="-0.5"/>
    </include>

    <include file="$(find jarves_teleop)/launch/jarves_teleop.launch">
      <arg name="axis_deadman" value="4"/>
      <arg name="axis_linear" value="1"/>
      <arg name="axis_angular" value="0"/>
    </include>

    <include file="$(find jarves)/launch/face_detector.rgbd.launch">
      <arg name="fixed_frame" value="$(arg robot)/odom" />
    </include>

    <include file="$(find jarves)/launch/leg_detector.launch">
      <arg name="fixed_frame" value="$(arg robot)/odom" />
    </include>
  </group>

</launch>
